#[link(name = "iter",
       vers = "0.1",
       uuid = "1ADE62EE-BE76-46C1-B065-3438B7199A37",
       url = "http://github.com/nikomatsakis/iter")];

#[comment = "Rust iteration library"];
#[license = "MIT"];
#[crate_type = "lib"];

use std;
mod iter;